
.container{
    background-color: white;
    padding: 6rem;
}

.bg_txt {
    background-image: url(https://images.pexels.com/photos/680811/pexels-photo-680811.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-repeat: repeat;
    background-attachment: fixed;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
    font-size: 7rem;
    margin-bottom: 6rem;
}

.mainTitle{
    color: #5e48f6;
    font-size: 3rem;
    margin-bottom: 2rem;
}

.mainDescription{
    color: gray;
    font-size: 1rem;
    font-weight: lighter;
    letter-spacing: 1.2px;
    line-height: 1.6rem;
    margin-bottom: 4rem;
}

.video{
    width: 100%;
    height: 30rem;
}

.values{
    background-color: white;
}

.values > .title{
    color: #5e48f6;
    font-size: 3rem;
    margin-bottom: 1rem;
}

.values > .containerValues{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    margin-top: 5rem;
}

.values > .containerValues > div{
    color: white;
    text-align: center;
    width: 15rem;
    height: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    border-radius: 50%;
}

.circle1{
    background: linear-gradient(60deg,rgba(0, 128, 0, 0.535), rgba(255, 0, 0, 0.511));
}
.circle2{
    background: linear-gradient(60deg,rgba(0, 0, 255, 0.794), rgba(238, 130, 238, 0.827));
}
.circle3{
    background: linear-gradient(60deg,rgba(255, 255, 0, 0.527), rgba(0, 0, 128, 0.485));
}
.circle4{
    background: linear-gradient(60deg,pink, rgb(135, 152, 235));
}

.description{
    color: gray;
    font-size: 1rem;
}

.images{
    width: 100%;
    height: 20rem;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    background-color: white;
}


.images > img{
    height: 20rem;
}

.carrer{
    background-color: whitesmoke;
    padding: 6rem;
}

.carrer > .title{
    font-size: 3rem;
    color: #5e48f6;
    margin-bottom: 1rem;
}

.carrer > .description{
    color: gray;
    font-size: 1rem;
    font-weight: lighter;
    letter-spacing: 2px;
    line-height: 1.8rem;
    margin-bottom: 3rem;
}

.carrer > a{
    border: 2px solid #5e48f6;
    font-size: 1rem;
    padding: 1rem;
    color: #5e48f6;
}

.carrerMain{
    padding: 6rem 6rem 6rem 6rem;
    border-bottom: .5px solid gray;
    background-color: white;
}

.openRoles{
    margin-top: 6rem;
}

.openRoles > .title{
    color: #5e48f6;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.openRoles > .content{
    margin-top: 2rem;
}

.openRoles > .content > .alert{
    font-size: 1rem;
    font-weight: bolder;
    color: red;
}

.openRoles > .content .description{
    color: #111;
    letter-spacing: 1.5px;
    line-height: 1.5rem;
    font-weight: lighter;
    font-size: 1rem;
    margin-bottom: 2rem;
}

.openRoles > .content form{
    display: flex;
    color: #fff;
    background-color: #5e48f6;
    padding: .5rem;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    grid-gap: 1rem;
}

.openRoles > .content  form > label{
    font-size: 1rem;
    text-transform: uppercase;
}

.openRoles > .content  form > input{
    padding: .5rem;
    border: none;
    outline: none;
    background-color: white;
    color: #5e48f6;
    cursor: pointer;
}

.accordionContent{
    padding: 3rem;
    display: flex;
    flex-direction: column;
}
